.heroimage{
    height: 300px;
    width: 500px;
    padding: 30px 30px 30px 0px;
    position: relative;

}
body{
    background-image: url(https://images.unsplash.com/photo-1522409872680-d4673886d024);
}
.container{
    background-color: white;
    height: 100%;
    padding: 30px;
}
.row{
    height: 100%;
}
.navbar {
    border-top: solid black;
    border-bottom: solid black;
    background-color: white !important;
}
.navbar-brand {
    border-right: solid thin lightgray;
    padding: 0px 20px 0px 0px;
}
.headerimage{
    border-spacing: 1px;
    border: solid thin black;
    width: 100px;
    height: 100px;
    float: left;
    margin: 0px 15px 0px 0px;
}

.whatwedo{
    border: solid thin rgb(46, 42, 42) !important;
}


footer{
    margin: 0 auto;
}
.footerline{
    text-align: center;
    position: center;
    margin: 0 auto !important;
    padding: 0px 0px 0px 50px;
}
.footerline a{
    color: black !important;
    text-align: center;
    margin: 0 auto;
    padding: 0px 0px 0px 15px;
}
h6{
    color: gray;
    text-align: center;
}
h1 {
    padding: 10px !important;
    
}
.whatwedo{
    background-color: darkred;
    color: white;
    width: 270px;
}

.picture1{
    width: 380px;

}


.picture2{
    width: 380px;
}
.picture3{
    width: 380px;
}
.picture4{
    width: 380px;
}

.darkred{
    background-color: darkred;
}
.col-md-3{
    padding: 20px;
    height: 640px;
    width: 100;
    font-size: 12px;
    background-color: darkred;
    color: white 
    
}
.babychick{
    height: 130px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.transportation{
    position: absolute;
    bottom: 50px;
    color:white;
}

.subrogation{
    position: absolute;
    bottom: 50px;
    color: grey;
}








