body {
    background: url(../img/woodbackground.jpg);
}
.whitebackground {
    background-color: white;
    margin: 0px auto;
    width: 80%;
    height: 90%;
}
/*Geo Start 10*/



































































































/*Geo End 110*/
/*Santi Start 111*/

@import url('https://fonts.googleapis.com/css?family=Montserrat');
.d-flex .col-md-4 {
    height: 100%;
}

.card {
    border-radius: 0px;
    border:0px;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.25);
}

.card ul{
    list-style: none;
}

.card .action_header {
    position: absolute;
    top: 2.5%;
    right: 3%;
}

.card .card-footer {
    padding:0px;    
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.25);
}

.card-header {
    background-color: #882D2D !important;
    border: 0px;
    font-family: 'Montserrat', sans-serif;
}

img {
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-body{
    height: 20%;
    background-color: #882D2D;
    overflow: hidden;
}

.itemized{
    text-align: left;
    transform: translate(-3em, 0em);
    
}































































































/*Santi End 210*/
/*Matt Start 211*/


































































































/*Matt End 310*/
/*Juny Start 311*/


































































































/*Juny End 410*/ 